// Place all the styles related to the Repertoires controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.last{
  border-bottom: 1px solid lightgray;
}


.btn  search{
  border-color: #1E90FF;
  color: #1E90FF;
  width: 1000px;
}